Logistic/Logistic.Application/bin/
Logistic/Logistic.Domain/bin/
Logistic/Logistic.Infrastructure/bin/
Logistic/Logistic.WebApi/bin/
Logistic/Logistic.Application/obj/Debug/
Logistic/Logistic.Domain/obj/Debug/
Logistic/Logistic.Infrastructure/obj/Debug/
Logistic/Logistic.WebApi/obj/Debug/
